[submodule "ManiSkill2_real2sim"]
	path = ManiSkill2_real2sim
	url = https://github.com/simpler-env/ManiSkill2_real2sim
[submodule "third_party/octo"]
	path = third_party/octo
	url = git@github.com:lvjonok/octo.git
